In [1]:
columns = []
with open('./data/RCL_headers.txt', 'r', encoding='utf-8') as file:
    for line in file:
        columns.append(line.strip())

In [2]:
from tqdm import tqdm

dataset = []
with open('./data/FLAT_RCL.txt', 'r', encoding='utf-8') as file:
    for line in tqdm(file, total=248656):
            splits = line.split('\t')
            temp = {}
            for idx in range(len(splits)):
                temp[columns[idx]] = splits[idx]
            dataset.append(temp)

100%|██████████| 248656/248656 [00:02<00:00, 124230.55it/s]

In [3]:
import pandas as pd 

df = pd.DataFrame(dataset)

In [7]:
df['MFGNAME']

0         FORD MOTOR COMPANY
1         FORD MOTOR COMPANY
2                JAYCO, INC.
3         MONACO COACH CORP.
4         MONACO COACH CORP.
                 ...
248651      Alliance RV, LLC
248652      Alliance RV, LLC
248653    Forest River, Inc.
248654    Forest River, Inc.
248655    Forest River, Inc.
Name: MFGNAME, Length: 248656, dtype: object

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 248656 entries, 0 to 248655
Data columns (total 27 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   RECORD_ID          248656 non-null  object
 1   CAMPNO             248656 non-null  object
 2   MAKETXT            248656 non-null  object
 3   MODELTXT           248656 non-null  object
 4   YEARTXT            248656 non-null  object
 5   MFGCAMPNO          248656 non-null  object
 6   COMPNAME           248656 non-null  object
 7   MFGNAME            248656 non-null  object
 8   BGMAN              248656 non-null  object
 9   ENDMAN             248656 non-null  object
 10  RCLTYPECD          248656 non-null  object
 11  POTAFF             248656 non-null  object
 12  ODATE              248656 non-null  object
 13  INFLUENCED_BY      248656 non-null  object
 14  MFGTXT             248656 non-null  object
 15  RCDATE             248656 non-null  object
 16  DATEA              248656 non-null  object
 17  RPNO               248656 non-null  object
 18  FMVSS              248656 non-null  object
 19  DESC_DEFECT        248656 non-null  object
 20  CONEQUENCE_DEFECT  248656 non-null  object
 21  CORRECTIVE_ACTION  248656 non-null  object
 22  NOTES              248656 non-null  object
 23  RCL_CMPT_ID        248656 non-null  object
 24  MFR_COMP_NAME      248656 non-null  object
 25  MFR_COMP_DESC      248656 non-null  object
 26  MFR_COMP_PTNO      248656 non-null  object
dtypes: object(27)
memory usage: 51.2+ MB

In [ ]:
df_subset = df[df.MFR_NAME.isin(['Ford Motor Company', 'General Motors, LLC', 'Tesla, Inc.', 'Hyundai Motor America', 'Toyota Motor Corporation','Honda (American Honda Motor Co.)'])].copy()
df_subset.info()